.DS_Store
dist/electron/*
dist/web/*
dist/*
build/*
doc/*
!build/icons
coverage
node_modules/
npm-debug.log
npm-debug.log.*
thumbs.db
!.gitkeep
caxios/build/*
caxios/thirdparty/*
caxios/node_modules/*