<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>civet</title>
    <% if (htmlWebpackPlugin.options.nodeModules) { %>
      <!-- Add `node_modules/` to global paths so `require` works properly in development -->
      <script>
        require('module').globalPaths.push('<%= htmlWebpackPlugin.options.nodeModules.replace(/\\/g, '\\\\') %>')
      </script>
    <% } %>
  </head>
  <body style="overflow:hidden">
    <div id="app"></div>
    <!-- Set `__static` path to static files in production -->
    <% if (!process.browser) { %>
      <script>
        if (process.env.NODE_ENV !== 'development') window.__static = require('path').join(__dirname, '/static').replace(/\\/g, '\\\\')
      </script>
    <% } %>

    <!-- webpack builds are automatically injected -->
    <style>
      .selected {
        font-size: 14px;
        background-color:rgb(16, 125, 197);
      }
      /* .el-scrollbar__wrap {
        overflow-x: hidden;
      } */
      .el-select-dropdown__item{
        list-style: none;
        font-size: 12px;
        padding: 0 20px;
        position: relative;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #eee;
        height: 30px;
        line-height: 30px;
        box-sizing: border-box;
        cursor: pointer;
      }
      .el-select-dropdown__list{
        color: #eee;
        list-style: none;
        padding: 6px 0;
        margin: 0;
        box-sizing: border-box;
      }
      .el-select-dropdown__wrap{
        margin-bottom: 0px;
      }
      .el-color-picker__trigger {
        height: 20px;
        width: 20px;
        transform: translateY(4px);
        padding: 0;
        border: 0;
      }
      .el-color-picker--mini .el-color-picker__trigger{
        height: 20px;
        width: 20px;
      }
      </style>
  </body>
</html>
